**/.env
**/logs
**/secrets
**/__pycache__
**/node_modules
**/.vscode
**/.DS_Store
**/dist
**/build
**/coverage
**/*.log
**/tmp
**/temp
**/venv
**/.pytest_cache
**/.mypy_cache
**/.next
**/out
**/webapp/.next
**/webapp/out
**/supabase